{% extends 'base.html.twig' %}

{% block title %}Erreur de commande{% endblock %}

{% block content %}
    <h2>Erreur de commande</h2>
    <p>
        Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
        Echec de votre commande n°:<strong>{{ order.reference }}</strong>,<br/>
        Une confirmation vient de vous être envoyée par email à l'adresse <strong>{{ order.user.email }}</strong>
        <hr>
    </p>
    <a href="{{path('app_order')}}" class="btn btn-success">Réessayer le paiement</a>
    {% endblock %}
