{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Ma boutique FR{% endblock %}

{% block content %}
<h2>Je passe ma commande</h2>
<p>choisissez vos préférences avant de passer votre commande sur ma Boutique FR.</p>
<hr>
<div class="row">
    <div class="col-md-6">
        {% set formHtml %}
        {{form_start(form,{action:path('app_order_recap')})}}
            {{form_label(form.addresses, 'Choisissez votre adresse de livraison')}}
            <a href="{{path('app_add_address')}}">+ Ajouter une nouvelle adresse</a>
        {{form_end(form)}}
        {% endset %}
        {{formHtml|replace({'[br]':'<br/>'})|raw}}
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <b>Recap de ma commande</b><br/>
            <p>Retrouvez le récapitulaf de vos produits</p>

        </div>
        {% set total = null %}
        <div class="order-summary">
            {% for key,product in cart %}
            <div class="row{% if key > 0 %} mt-2 {% endif %}">
                <div class="col-2"><img  src="/uploads/{{product.product.illustration}}"
                    alt="{{product.product.name}}" height="60px" ></div>
                    <div class="col-8 my-auto">{{product.product.name}}<br/>
                        <small>{{product.product.subtitle}}</small> </div>
                    <div class="col-2 my-auto">x {{ product.quantity }}</div>
                </div>
          {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
    
        </div>

    </div>
</div>
{% endblock %}
